@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

:root {
	--success-color: #2ecc71;
	--danger-color: crimson;
	--primary-color: rgba(255, 255, 255, 0.84);
	--radius: 8px;
	--entry: #2e2e33;
	--secondary-color: rgba(255, 255, 255, 0.56);
	--tertiary-color: rgba(255, 255, 255, 0.16);
	--content-color: rgba(255, 255, 255, 0.64);
	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 720px;
	--logo-height: 50px;
	--nav-gap: 30px;
	--header-height: calc(var(--nav-gap) * 2 + var(--logo-height));
	--footer-height: 60px;
}


body, html, .container{
	height: 100%;
}


/*
	nice colors : #a72443 [red for btn]
	
	the primary Color : #18B69B
	Darken Version : #009D82
	Darken Version : #008368

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Nunito", sans-serif;
	background: url("../imgs/bg.png") repeat;
	/* background-color: #141414; */
	background-color: #1d1e20;
	/* background-color: #272728; */
}


.preload * {
	transition: none !important;
	animation: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	-o-animation: none !important;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

.container {
	max-width: 1140px;
	/* background-color: rgba(255, 255, 255, 0.5); */
    margin: auto;
	display: flex;
	flex-direction: column;
}

nav {
	height: 45px;
	padding: 1em 0;
	display: flex;
	align-items: center;
	padding: 0 2em;
}

.logo{
	width: 3em;
}

.nav__links{
    display: flex;
    justify-content: normal;
	list-style: none;
	margin-left: 1.5em;
}
.nav__links li{
	padding: 0 0.6em;
}

.nav__links li a {
	color: rgba(255, 255, 255, 0.84);
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #009D82;
}

.nav__links .none-primary {
	display: none;
}


/*
	Auth
*/

a.ctf {
    margin-right: 5px;
}

.auth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
}

.auth .logged {
	color: var(--primary-color);
	margin-right: 10px;
}

.auth .username {
	color: var(--danger-color);
}

a.username {
    text-decoration: none;
}

/*
	burger
*/

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background: rgba(255, 255, 255, 0.64);
	margin: 5px;
	border-radius: 1px;
	transition: all 0.3s ease;
}

.burger .line1 {
    width: 13px;
    height: 2px;
    background: rgba(255, 255, 255, 0.64);
    margin: 5px;
    border-radius: 1px;
    transition: all 0.3s ease;
    margin-left: 15px;
}

.burger .line3 {
	width: 13px;
    height: 2px;
    background: rgba(255, 255, 255, 0.64);
    margin: 5px;
    border-radius: 1px;
    transition: all 0.3s ease;
    margin-left: 7px;
}

/* nav button {
	margin-left: 5px;
} */

.btn {
	font-size: medium;
	font-weight: 600;
	padding: 9px 22px;
	color:#ffffff;
	background-color: #18B69B;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.25s ease;
}

.btn-not-primary {
	background: url("../imgs/funky-lines.png") repeat;
	color: #009D82;
}

.btn:focus {
	outline: none;
}

.btn:hover, .btn-primary:hover {
    outline: none;
	background: url("../imgs/funky-lines.png") repeat;
	color: #18B69B;
}

.btn-not-primary:hover {
	outline: none;
	background: #18B69B;
	color: #FFF;
}

/*
Main 
*/

main {
	padding: 1.75em;
	color: #ffffff;
	font-size: 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
	width: 90%;
	margin: 1rem auto;
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.article{
    padding-top: 3em;
}

/* Form */

.form {
	/* background-color: var(--entry); */
	background-color: #272728;
	border-radius: var(--radius);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	min-width: 400px;
    padding: 20px 30px;
    margin: 30px 40px;
}

.form h2 {
	margin-bottom: 1em;
	text-align: center;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: rgba(255, 255, 255, 0.84);
    display: block;
    margin: 6px 2px;
	font-size: 16px;
	font-weight: bold;
}

.form-control.remember, .form-control.notification {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -15px;
	padding-bottom: 5px;
}

.form-control input[type="text"],
input[type="password"], input[type="email"]{
	background-color: #f3f3f4;
	border: 1px solid transparent;
	border-radius: 6px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-family: "Nunito", sans-serif;
}

.form-control input[type="checkbox"] {
	width: 12px;
	margin-right: 2px;
	margin-top: -2px;
}

.form-control input:focus {
	outline: none;
	/* border-color: #777777; */
}

.form-control.success input {
	/* border-color: var(--success-color); */
	background-color: #efffee;
	color: #00cc44;
}

.form-control.danger input {
	/* border-color: #ff5555; */
	background-color: #ffeeee;
	color: #ff5555;
}
.form-control small {
	color: var(--danger-color);
	position: absolute;
	bottom: 0;
	left: 5px;
	visibility: hidden;
}

.form-control.danger small {
	visibility: visible;
}
.form button {
	cursor: pointer;
    width: 100%;
    margin-top: 15px;
    padding: 9px 25px;
    background-color: #18B69B;
    border: none;
    border-radius: 50px;
    color: #FFF;
    font-weight: 600;
    outline: none;
}
.form button:hover{
	transition: all 0.3s ease-in;
    background-color: #009D82;
    outline: none;
}

.form .login {
	text-align: center;
	padding: 9px 6px 0 6px;
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-color);
}

.form .forget-pass {
	text-align: center;
	padding: 6px 6px 0 6px;
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-color);
}

.form .login a , .forget-pass a {
	font-size: 12px;
	font-weight: 500;
	color: crimson;
	text-decoration: none;
    font-weight: bold;
}

/*

hadchi li 
lte7t mafih ta 3ib ghir kemel
rak kayen mab9a walo
*/

footer {
	margin-top: auto;
}

/**
signature
*/

.signature {
	margin: 10px auto;
	padding: 10px 0;
	width: 100%;
}

.signature p {
	text-align: center;
	font-family: "Nunito", sans-serif;
	font-size: 0.85em;
	color: #aaaaaa;
}

.signature .much-heart {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #ac1d3f;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
	display: block;
	content: "";
	position: absolute;
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: #ac1d3f;
	top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #aaaaaa;
	text-decoration: none;
	font-weight: bold;
}


/* Grid System diyalooo */

.columns {
	display: flex;
	width: 100%;
}

.columns:nth-child(1){
	margin-top: 1.2em;
}
.columns.is-multiline{
    flex-wrap: wrap;
}

.columns:not(:last-child){
    margin-bottom: 20px;
}

/* Grid system */

.column.is-1 {
    width: 8.3333%;
    flex: none;
}

.column.is-2 {
    width: 16.66667%;
    flex: none;
}

.column.is-3 {
    width: 25%;
    flex: none;
}

.column.is-4 {
    width: 33.333%;
    flex: none;
}

.column.is-5 {
    width: 41.66667%;
    flex: none;
}

.column.is-6 {
    width: 50%;
    flex: none;
}
.column.is-7 {
    width: 58.3333%;
    flex: none;
}
.column.is-8 {
    width: 66.66667%;
    flex: none;
}
.column.is-9 {
    width: 75%;
    flex: none;
}
.column.is-10 {
    width: 83.3333%;
    flex: none;
}
.column.is-11 {
    width: 91.66667%;
    flex: none;
}
.column.is-12 {
    width: 100%;
    flex: none;
}

/* take how many you need without flex */
.column.no-flex {
    flex: none;
}

.column {
    flex: 1;
}



/*

resopnsive start from 7.25

*/

@media screen and (max-width: 1140px) {
	.drop-zone {
		width: 200px!important;
   		height: 200px!important;
	}
	.box {
		flex-direction: column;
	}
	.cpanel {
		flex-direction: row!important;
		justify-content: space-around!important;
		height: 70px!important;
	}
	.selected-from-upload, .selected-saved-from-upload {
		width: 250px!important;
		height: 200px!important;
		position: absolute!important;
		left: 0px;
		background: rebeccapurple!important;
	}
	.canvas-parent{
		height: 300px!important;
		width: 75%;
	}

	.videoElement {
		left: 0px!important;
		top: 0px!important;
	}
	.selected-from-upload {
		width: 100%!important;
		height: 77%;
		margin: 10% 0 0 0;
		/* margin: 0 175px; */
		left: 0px!important;
		top: 0px!important;
	}
	#videoElement {
		width: 400px!important;
		height: 300px!important;
		/* margin: 10% 0 0 0; */
		margin: 0 125px;
	}
	.column.is-6 {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 400px;
	}
	.citems {
		padding-bottom: 0px!important;
	}
	.column.is-4 {
		width: 100%!important;
		flex: none;
	}
	.uploaded {
		max-height: 340px;
		overflow: auto;
		max-width: 100%!important;
	}
	#upload {
		max-width: 100%!important;
		max-height: 343px;
		margin-top: 15px;
	}
	.canvas-sticker {
		position: absolute;
		height: 70px!important;
		z-index: 2;
		top: 100px!important;
		left: 23vw !important;
		visibility: hidden;
	}
	.column.is-2 {
		width: 100%!important;
		flex: none;
	}
	.canvas-parent-output{
		height: 280px!important;
		width: 75%;
	}
	.selected-canvas-sticker {
		position: absolute;
		height: 70px!important;
		z-index: 2;
		top: 85!important;
		left: 15vw !important;
		visibility: hidden;
	}
	.selected-saved-from-upload {
		width: 100%!important;
		height: 77%;
		margin: 10% 0 0 0;
		left: 0px!important;
		top: 0px!important;
	}
	#canvasHolder {
		width: 100%!important;
		height: 77%;
		margin: 10% 0 0 0;
		left: 0px!important;
		top: 0px!important;
	}
	.final-img {
		width: 225px!important;
		height: inherit;
	}
	.fa-trash-o:before {
		content: "\f014";
		position: absolute;
		top: 85px;
		right: 10px;
		font-size: 17px;
	}
	.loaded-list {
		background: crimson!important;
		width: 256px;
	}
	.column.is-10 {
		width: 100%!important;
		flex: none;
	}
	.stickers-container {
		max-width: 65vw!important;
		/* width: 100%!important; */
		display: flex; 
	}
	#loaded{
		border: none;
		margin: 0 auto;
		width: 100%;
	}
	.loaded {
		max-width: 100%!important;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.uploaded-imgs {
		display: flex;
    	flex-direction: column;
	}
}
@media screen and (max-width: 701px) {
	.form {
		min-width: 340px;
	}
	.auth {
		display:none;
	}
	nav {
		justify-content: space-between;
	}
	.nav__links {
		position: fixed;
		background: #008368;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 10;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* clip-path isn't supported in FF-41 so I replce it with */
		/* clip-path: circle(30px at 110% -10%);
		-webkit-clip-path: circle(30px at 110% -10%); */
		transition: all 0.3s ease-out;
		opacity: 0;
		pointer-events: none;
	}
	.nav__links li a:hover {
		color: rgb(0, 0, 0);
	}
	.nav__links.open {
		/* clip-path: circle(1300px at 110% -10%);
		-webkit-clip-path: circle(1450px at 110% -10%); */
		transition: all 0.3s ease-in;
		opacity: 1;
		pointer-events: all;
	}
	.nav__links .none-primary {
		display: block;
	}
	.burger {
		display: block;
		cursor: pointer;
		z-index: 100;
	}
	.form-control small {
    	bottom: 4px;
		font-size: 10px;
	}
	.img-card {
		max-width: 340px;
	}
	.img-wrapper img {
		max-width: 275px!important;
	}
	#videoElement {
		width: 100%!important;
		height: 77%;
		margin: 10% 0 0 0;
	}
	.empty-uploaded-list p {
		margin-top: 100px;
	}
}

/*
	Animating burger
*/

.toggle .line1 {
	width: 25px;
	/* margin-left: 0px; */
	transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {	
	width: 25px;
	margin-left: 15px;
	transform: rotate(45deg) translate(-5px, -5px);
}


/*

Media diyal s7ab l7assanat 320px fel3rd
problem kaybda f 345 px

*/

@media screen and (max-width: 320px) {
	.form {
		min-width: 315px;
	}
	.auth {
		display:none;
	}
	nav {
		justify-content: space-between;
	}
	.nav__links {
		position: fixed;
		background: #008368;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 10;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* clip-path isn't supported in FF-41 so I replce it with */
		/* clip-path: circle(30px at 110% -10%);
		-webkit-clip-path: circle(30px at 110% -10%); */
		transition: all 0.3s ease-out;
		opacity: 0;
		pointer-events: none;
	}
	.nav__links li a:hover {
		color: rgb(0, 0, 0);
	}
	.nav__links.open {
		/* clip-path: circle(1300px at 110% -10%);
		-webkit-clip-path: circle(1450px at 110% -10%); */
		transition: all 0.3s ease-in;
		opacity: 1;
		pointer-events: all;
	}
	.nav__links .none-primary {
		display: block;
	}
	.burger {
		display: block;
		cursor: pointer;
		z-index: 100;
	}
	.form-control small {
    	bottom: 4px;
		font-size: 10px;
	}
	.img-card {
		max-width: 315px;
	}
	.img-wrapper img {
		max-width: 275px!important;
	}
	#videoElement {
		width: 100%!important;
		height: 77%;
		margin: 10% 0 0 0;
	}
	.empty-uploaded-list p {
		margin-top: 100px;
	}
} 



.flash {
	border-radius: 4px;
    border-style: solid;
	border-width: 0 0 0 4px;
	padding: 1.25em 1.5em;
	width: 50%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.68);
}

.flash.is-danger {
	border-color: #f14668;
    color: #cc0f35;
}


.flash.is-primary {
    border-color: #00d1b2;
    color: #00947e;
}

.flash.is-success {
    border-color: #48c774;
    color: #257942;
}

/* Custom checkbox  */

.custom-checkbox{
	cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
	display: none;
}

.custom-checkbox input[type="checkbox"] + .label-text:before {
	font-family: 'FontAwesome';
	content: "\f096";
	color: #008368;
	width: 1em;
	display: inline-block;
	margin-right: 2px;
}
.custom-checkbox input[type="checkbox"]:checked + .label-text:before {
	content: "\f14a";
	animation: tick 150ms ease-in;
}

@keyframes tick {
	0% {transform: scale(0);}
	90% {transform: scale(1.5);}
	100% {transform: scale(1);}
}


/*
*	All about Camera UI
*/

.box {
	width: 95%;
	/* padding: 20px; */
	/* border: 1px solid #cecece; */
	background: rgba(255, 255, 255, 0.95);
	/* background: #272728; */
	border-radius: 25px;
}


.drop-zone {
    width: 300px;
    height: 300px;
    margin: 57px auto;
	border: 2px dashed #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
    /* line-height: 300px;
    text-align: center; */
    color: #009D82;
    background: url(../imgs/funky-lines.png) repeat;
	border-radius: 150px;
	cursor: pointer;
}
.drop-zone h1 {
	margin: 0px;
	/* color: #FFF; */
}

.drop-zone.dragover{
	border-color: #000;
	color: #000;
	content: "";
}

.drop-zone__input, .drop-zone__reset {
	display: none;
}

.scroll-out {
    margin: 45px 0px;
    padding: 120px 0;
    text-align: center;
}

.scroll-out-text {
	padding: 1em 0;
	color: #272728;
	font-weight: 600;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.canvas-parent {
	position: relative;
    height: 100%;
    /* background: rebeccapurple; */
}

.canvas-parent-output {
	position: relative;
}

.videoElement {
	opacity: .5;
	position: absolute;
	top: 20px;
	/* left: 40px!important; */
	left: 40px;
}

#canvasHolder {
	opacity: .5;
	position: absolute;
	top: 20px;
	left: 40px;
}
.selected-canvas-sticker {
	position: absolute;
	top: 20px;
	height: 100px;
	z-index: 100;
	top: 71px!important;
	left: 77px !important;
	visibility: hidden;
}

.uploaded {
    max-height: 340px;
    overflow: auto;
    max-width: 343px;
}

.loaded {
    height: 343px;
    overflow: auto;
	max-width: 343px;
	background: #f3f3f4;
}
#loaded {
	border-left: 1px solid #CeCeCe;
	height: 343px;
}

.loaded-list {
	position: relative;
    display: block;
    margin: 10px 15px;
	list-style: none;
	cursor: pointer;
    color: #000;
	background: url(../imgs/funky-lines.png) repeat;
	font-weight: 600;
	/* limit text lenght to the with*/
	/* width: inherit; */
	height: 190px;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}
.loaded-list:hover{
	background: crimson;
}

.uploaded-list {
	position: relative;
    display: block;
    padding: 10px 15px;
	list-style: none;
	cursor: pointer;
    color: #000;
	background: url(../imgs/funky-lines.png) repeat;
	font-weight: 600;
	/* limit text lenght to the with*/
	width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.uploaded-list:hover {
	border-left: 2px solid #009D82;
	background: #eeeeee;
}

.cpanel {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	color: #18B69B;
	flex-direction: column;
	height: 340px;
}
.citems {
	padding-bottom: 20px;
	cursor: pointer;
}
.citems:hover {
	color: #1d1e20;
}

.stickers {
	display: flex;
}
.stickers-container{
	/* max-width: 70vw; */
	width: 100%;
    overflow: auto;
    margin: 0 auto;
}

.images {
	height: 66px;
}

.canvas-sticker {
	position: absolute;
	height: 100px;
    /* width: 100px; */
    /* position: relative; */
    z-index: 2;
	/* top: -20px; */
	/* left: 100px; */
	top: 71px;
    left: 77px;
	visibility: hidden;
}

#upload {
	max-width: 343px
}

.empty-uploaded-list, .empty-loaded-list {
	height: 100%;
}

.empty-uploaded-list p {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 343px;
	color: #000;
	font-weight: 600;
}
.empty-loaded-list p {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	color: #000;
	font-weight: 600;
}

.selected-from-upload {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 20px;
	left: 40px;
	visibility: hidden;
}

.selected-saved-from-upload {
	width: 400px;
	height: 300px;
	/* background: ; */
	position: absolute;
	left: 0px;
	/* right: 50px; */
	/* background: mediumblue; */
	visibility: hidden;
}

.selected-saved-from-upload {
	left: 40px;
    top: 20px;
}

.breathing-room {
	height: 13px; /* 37 */
}

#canvas {
	display: none;
}

#canvasHolder {
	visibility: hidden;
}

.final-img {
	width: 253px;
    height: inherit;
}

.fa-trash-o:before {
    content: "\f014";
    position: absolute;
    top: 75px;
    right: 10px;
}

.img-card {
	background-color: #272728;
    border-radius: var(--radius);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    width: 480px;
    padding: 20px 30px;
    margin: 30px 40px;
}

.post-sep {
	width: 100%;
}

.reaction {
	padding: 0 10px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* max-height: 300px; */
}
.img-wrapper img {
	max-width: 400px;
}

.fa-thumbs-up:before {
    content: "\f164";
    cursor: pointer;
}
.fa-thumbs-up.liked {
	content: "\f164";
	color: #18B69B;
    cursor: pointer;
}

.fa-commenting:before {
    content: "\f27a";
	margin-left: 12px;
	cursor: pointer;
}

.counters {
	flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
	font-size: 12px;
	margin-top: 5px;
}

div.counters p:first-child {
	margin-right: 5px;
}

.actions {
	flex-basis: 50%;
}
.comment-section {
	margin-top: 16px;
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
}
.comment-input {
	flex-basis: 90%;
	background-color: #f3f3f4;
	display: block;
	border: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
	font-family: "Nunito", sans-serif;
	border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.comment-input:focus {
	outline: none;
}

.comment-send {
	flex-basis: 10%;
	width: 37px;
	background: #008368;
	border: none;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

.comment-send:hover {
	cursor: pointer;
}

.comment-send:focus {
	outline: none;
}

.comments-load {
	display: flex;
	flex-direction: column;
}

.comment-card {
	display: flex;
}

.comment-card h6 {
	align-self: flex-start;
	color: #008368;
	font-size: 12px;
}

.comment-card p {
	font-weight: 400;
	font-size: 12px;
	padding-left: 6px;
	flex-basis: 90%;
	font-size: 12px;
	word-wrap: break-word;
	hyphens: auto;
	width: 0px;
}
.comment-card:not(:last-child) {
	margin-bottom: 6px;
}

#pagination {
    display: flex;
    padding: 50px;
    justify-content: center;
}
.page {
	padding: 10px;
    background-color: #038368;
    color: #FFF;
    border-radius: 8px;
    font-size: 13px;
    margin: 2px;
    font-weight: 700;
}

a.page {
	font-style: normal;
	text-decoration: none;
}

a.page.active {
	background: url(../imgs/funky-lines.png) repeat;
	color: #008368;
}
.delete {
	font-size: 12px;
    display: flex;
}

.delete .fa-trash:before {
	content: "\f1f8";
	cursor: pointer;
	color: crimson;
}

.empty-gallery {
	margin-top: 27vh;
    font-size: 16px;
    font-weight: 800;
}

.first-entry {
	padding-top: 113px;
    padding-left: 50px;
    padding-right: 50px;
}


.entry-header {
	font-size: 36px;
    font-weight: 700;
    color: aquamarine;
}

.entry-content {
	padding-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

