@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

body, html {
	height:100%;
}

:root {
	--success-color: #2ecc71;
	--danger-color: crimson;
	--primary-color: rgba(255, 255, 255, 0.84);
	--radius: 8px;
	--entry: #2e2e33;
	--secondary-color: rgba(255, 255, 255, 0.56);
	--tertiary-color: rgba(255, 255, 255, 0.16);
	--content-color: rgba(255, 255, 255, 0.64);
	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 720px;
	--logo-height: 50px;
	--nav-gap: 30px;
	--header-height: calc(var(--nav-gap) * 2 + var(--logo-height));
	--footer-height: 60px;
}

body {
	background-color: #1d1e20;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
}

li,
a,
button {
	font-weight: 500;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.84);
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--nav-gap) 8%;
	max-height: var(--header-height);
}

nav button {
	margin-left: 5px;
}

.logo {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.nav__links {
	list-style: none;
	margin-right: auto;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: rgba(183, 21, 64, 1);
}

.nav__links .none-primary {
	display: none;
}

.auth {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
}

.auth .logged {
	color: var(--primary-color);
	margin-right: 10px;
}

.auth .username {
	color: var(--danger-color);
}

button {
	padding: 9px 25px;
	background-color: rgba(183, 21, 64, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	/* transition: all 0.3s ease 0s; */
}
button:hover {
	background-color: rgba(183, 21, 64, 0.8);
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background: rgba(255, 255, 255, 0.64);
	margin: 5px;
	border-radius: 1px;
	/* transition: all 0.3s ease; */
}

/*
ok ghandir display none .. daba li mafhemtch anaho normalement kan khedam
ms db ma3reftch 3lach bda kayzmel
*/


@media screen and (max-width: 768px) {
	.nav__links {
		display: none;
	}
	.container {
		display: none;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.nav__links .none-primary {
		display: initial;
	}
	.auth {
		display: none;
	}
}

/* .nav__active {
	transform: translateX(0%);
} */

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -5px);
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 75vh;
	margin-bottom: auto;
}

.container {
	position: relative;
	/* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
	max-width: calc(var(--main-width) + var(--gap) * 2);
	margin: auto;
	padding: var(--gap);
	font-family: "Montserrat", sans-serif;
}

h2 {
	color: var(--primary-color);
	text-align: center;
	margin: 0 0 20px;
}

.form {
	background-color: var(--entry);
	border-radius: var(--radius);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	min-width: 440px;
	font-family: "Montserrat", sans-serif;
	padding: 30px 40px;
	margin: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: rgba(255, 255, 255, 0.84);
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 300;
}

.form-control.remember {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -15px;
	padding-bottom: 5px;
}

.form-control input[type="text"],
input[type="password"] {
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

.form-control input[type="checkbox"] {
	width: 12px;
	margin-right: 4px;
	margin-top: -4px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777777;
}

.form-control.success input {
	border-color: var(--success-color);
}

.form-control.danger input {
	border-color: var(--danger-color);
}
.form-control small {
	color: var(--danger-color);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.danger small {
	visibility: visible;
}
.form button {
	cursor: pointer;
	width: 100%;
	margin-top: 24px;
}

.form .login {
	text-align: center;
	padding: 6px;
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-color);
}

.form .login a {
	font-size: 12px;
	font-weight: 500;
	color: crimson;
}

.first-entry {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 320px;
	margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
	color: var(--primary-color);
	font-size: 34px;
	line-height: 1.3;
}
.first-entry .entry-content {
	margin: 14px 0;
	font-size: 16px;
	-webkit-line-clamp: 3;
}

.entry-content {
	margin: 8px 0;
	color: var(--secondary-color);
	font-size: 14px;
	line-height: 1.6;
}

.footer {
	max-width: calc(var(--main-width) + var(--gap) * 2);
	margin: auto;
	padding: calc((var(--footer-height) - (var(--gap)) - 10px) / 2) var(--gap);
	text-align: center;
	line-height: 24px;
}

.footer span {
	margin-inline-start: 1px;
	margin-inline-end: 1px;
}

footer {
	margin-top: auto;
}

/**
signature
*/

.signature {
	margin: 10px auto;
	padding: 10px 0;
	width: 100%;
}

.signature p {
	text-align: center;
	font-family: "Nunito", sans-serif;
	font-size: 0.85em;
	color: #aaaaaa;
}

.signature .much-heart {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #ac1d3f;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
	display: block;
	content: "";
	position: absolute;
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: #ac1d3f;
	top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #aaaaaa;
	text-decoration: none;
	font-weight: bold;
}
