@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

:root {
	--success-color: #2ecc71;
	--danger-color: crimson;
	--primary-color: rgba(255, 255, 255, 0.84);
	--radius: 8px;
	--entry: #2e2e33;
	--secondary-color: rgba(255, 255, 255, 0.56);
	--tertiary-color: rgba(255, 255, 255, 0.16);
	--content-color: rgba(255, 255, 255, 0.64);
	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 720px;
	--logo-height: 50px;
	--nav-gap: 30px;
	--header-height: calc(var(--nav-gap) * 2 + var(--logo-height));
	--footer-height: 60px;
}


body, html, .container{
	height: 100%;
}


/*
	nice colors : #a72443 [red for btn]
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Nunito", sans-serif;
	background-color: #1d1e20;
}

.container {
	max-width: 1000px;
    margin: auto;
	display: flex;
	flex-direction: column;
}

nav {
	height: 45px;
	padding: 1em 0;
	display: flex;
	align-items: center;
	padding: 0 2em;
}

.logo{
	width: 3em;
}

.nav__links{
    display: flex;
    justify-content: normal;
	list-style: none;
	margin-left: 1.5em;
}
.nav__links li{
	padding: 0 0.6em;
}

.nav__links li a {
	color: rgba(255, 255, 255, 0.84);
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: rgba(183, 21, 64, 1);
}

.nav__links .none-primary {
	display: none;
}

/*
	burger
*/
.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 2px;
	background: rgba(255, 255, 255, 0.64);
	margin: 5px;
	border-radius: 1px;
	transition: all 0.3s ease;
}

/* nav button {
	margin-left: 5px;
} */

.btn {
	font-size: medium;
	font-weight: 600;
	padding: 9px 22px;
	color:#ffffff;
	background-color: rgba(183, 21, 64, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	/* transition: all 0.3s ease 0s; */
}
.btn:hover {
	background-color: rgba(183, 21, 64, .84);
}
.btn:focus {
	outline: none;
}

/*
Main 
*/

main {
	padding: 1.75em;
	color: #ffffff;
	font-size: 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form */

.form {
	background-color: var(--entry);
	border-radius: var(--radius);
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
	min-width: 400px;
    padding: 20px 30px;
    margin: 30px 40px;
}

.form h2 {
	margin-bottom: 1em;
	text-align: center;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: rgba(255, 255, 255, 0.84);
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 300;
}

.form-control.remember {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -15px;
	padding-bottom: 5px;
}

.form-control input[type="text"],
input[type="password"] {
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

.form-control input[type="checkbox"] {
	width: 12px;
	margin-right: 4px;
	margin-top: -4px;
}

.form-control input:focus {
	outline: none;
	border-color: #777777;
}

.form-control.success input {
	border-color: var(--success-color);
}

.form-control.danger input {
	border-color: var(--danger-color);
}
.form-control small {
	color: var(--danger-color);
	position: absolute;
	bottom: 0;
	left: 5px;
	visibility: hidden;
}

.form-control.danger small {
	visibility: visible;
}
.form button {
	cursor: pointer;
	width: 100%;
	margin-top: 24px;
	padding: 9px 25px;
	background-color: rgba(183, 21, 64, 1);
	border: none;
	border-radius: 50px;
	color: #FFF;
	font-weight: 600;
	outline: none;
}

.form .login {
	text-align: center;
	padding: 6px;
	font-size: 12px;
	font-weight: 400;
	color: var(--primary-color);
}

.form .login a {
	font-size: 12px;
	font-weight: 500;
	color: crimson;
	text-decoration: none;
    font-weight: bold;
}

button#btn-submit {
    outline: none;
}

/*

hadchi li 
lte7t mafih ta 3ib ghir kemel
rak kayen mab9a walo
*/

footer {
	margin-top: auto;
}

/**
signature
*/

.signature {
	margin: 10px auto;
	padding: 10px 0;
	width: 100%;
}

.signature p {
	text-align: center;
	font-family: "Nunito", sans-serif;
	font-size: 0.85em;
	color: #aaaaaa;
}

.signature .much-heart {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #ac1d3f;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
	display: block;
	content: "";
	position: absolute;
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: #ac1d3f;
	top: -4px;
}

.signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.signature a {
	color: #aaaaaa;
	text-decoration: none;
	font-weight: bold;
}


/* Grid System diyalooo */

.columns {
    display: flex;
}

.columns:nth-child(1){
	margin-top: 1.2em;
}
.columns.is-multiline{
    flex-wrap: wrap;
}

.columns:not(:last-child){
    margin-bottom: 20px;
}

/* Grid system */

.column.is-1 {
    width: 8.3333%;
    flex: none;
}

.column.is-2 {
    width: 16.66667%;
    flex: none;
}

.column.is-3 {
    width: 25%;
    flex: none;
}

.column.is-4 {
    width: 33.333%;
    flex: none;
}

.column.is-5 {
    width: 41.66667%;
    flex: none;
}

.column.is-6 {
    width: 50%;
    flex: none;
}
.column.is-7 {
    width: 58.3333%;
    flex: none;
}
.column.is-8 {
    width: 66.66667%;
    flex: none;
}
.column.is-9 {
    width: 75%;
    flex: none;
}
.column.is-10 {
    width: 83.3333%;
    flex: none;
}
.column.is-11 {
    width: 91.66667%;
    flex: none;
}
.column.is-12 {
    width: 100%;
    flex: none;
}

/* take how many you need without flex */
.column.no-flex {
    flex: none;
}

.column {
    flex: 1;
}


/*

resopnsive start from 7.25

*/

@media screen and (max-width: 701px) {
	.form {
		min-width: 340px;
	}
	.auth {
		display:none;
	}
	nav {
		justify-content: space-between;
	}
	.nav__links {
		position: fixed;
		background: #a72443;
		height: 100vh;
		width: 100%;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 1;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		clip-path: circle(30px at 110% -10%);
		-webkit-clip-path: circle(30px at 110% -10%);
		transition: all 1s ease-in-out;
		pointer-events: none;
	}
	.nav__links li a:hover {
		color: rgba(0, 0, 0, .84);
	}
	.nav__links.open {
		clip-path: circle(1300px at 110% -10%);
		-webkit-clip-path: circle(1300px at 110% -10%);
		pointer-events: all;
	}
	.nav__links .none-primary {
		display: block;
	}
	.burger {
		display: block;
		cursor: pointer;
		z-index: 100;
	}
}

/*
	Animating burger
*/

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -5px);
}


/*

Media diyal s7ab l7assanat 320px fel3rd
problem kaybda f 345 px

*/

/* @media screen and (max-width: 701px) {
	.form {
		min-width: 340px;
	}
	.auth {
		display:none;
	}
	nav {
		justify-content: space-between;
	}
	.nav__links {
		position: fixed;
		background: #a72443;
		height: 100vh;
		width: 100%;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 1;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		clip-path: circle(1200px at 90% -10%);
		-webkit-clip-path: circle(1200px at 90% -10%);
		display: none; 
		transition: all 1s ease-in-out;
	}
	.nav
	.nav__links .none-primary {
		display: block;
	}
	.burger {
		display: block;
		cursor: pointer;
		z-index: 100;
	}
} 
*/


.flash {
	border-radius: 4px;
    border-style: solid;
	border-width: 0 0 0 4px;
	padding: 1.25em 1.5em;
	width: 50%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.68);
}

.message.is-danger {
	border-color: #f14668;
    color: #cc0f35;
}


.message.is-primary {
    border-color: #00d1b2;
    color: #00947e;
}

.message.is-success {
    border-color: #48c774;
    color: #257942;
}